// mat-select {
//     border:1px solid black;
//     width: 100px;
//     display: inline-block;
//     margin-left: 8px;
// }

.form {
    padding:16px;
}

.home-wrapper{
  // margin: 50px;
  text-align: center;

  margin: 30px auto !important;
  max-width: 90%;
  width: 650px;
  // border:1px solid black;
  align-items: center;
}

.header{
  font-size: 32px;
  color:  #536DFE;
  padding: 5px;
}

.language-key{
  margin: 6px auto;
  width: 300px;
  padding: 5px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(215,215,215,0.5);
}
