<div [formGroup]="myGroup" *ngIf="!loading && !languageSelected && !translationsDone" class="form">
  <mat-label>Choose Your Language</mat-label>
  <mat-select  formControlName="langs" matNativeControl (selectionChange)="loadLanguage()">
      <mat-option *ngFor="let lang of langList" [value]="lang">{{lang}}</mat-option>
  </mat-select>
</div>
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>
<mat-card class="verificator-wrapper" *ngIf="!loading && languageSelected">  
  <div [formGroup]="verificationForm" class="form">
    <div class="control-wrapper">
      <mat-label class="label">English: </mat-label>
      <input matInput formControlName="english">
    </div>
    <div class="control-wrapper">
      <mat-label class="label">Spanish: </mat-label>
      <input matInput formControlName="spanish">
    </div>
    <div class="button-wrapper">
      <button class="primary" color="primary" mat-button (click)="submitTranslation()">Submit</button>
      <button class="basic" color="basic" mat-button (click)="nextItem()">Next</button>
    </div>
  </div>
</mat-card>

<mat-card class="verificator-wrapper" *ngIf="translationsDone">  
  <div class="text-wrapper">
    <p>There is nothing left to translate.</p>
    <p>Thank you for your time!</p>
  </div>
</mat-card>
