<div [formGroup]="myGroup" *ngIf="!loading && !languageSelected" class="form">
  <mat-label>Choose Your Language</mat-label>
  <mat-select  formControlName="langs" matNativeControl (selectionChange)="loadLanguage()">
      <mat-option *ngFor="let lang of langList" [value]="lang">{{lang}}</mat-option>
  </mat-select>
</div>
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>
<mat-card class="verificator-wrapper" *ngIf="languageSelected && !loading">

  <div class="verificator-container" >

    <div class="verificator-translating" *ngIf="translating">

      translating card

      <div class="english">english</div>
      <div class="other-language">other language</div>
      <div class="verification">
        <button (click)="doneTranslation()">You're Welcome!</button>
      </div>

    </div>

    <div class="verificator-loading" *ngIf="!translating">

      <button (click)="newTranslation()">Gogogogo</button>
      Next one coming up!
    </div>

  </div>

</mat-card>
