// .verificator-container {
//   border: 1px solid gray;
//   text-align: center;
//   position: relative;
//   height: 100%;
//   animation: slide 3s;
// }

.verificator-wrapper{
  margin: 30px auto !important;
  max-width: 90%;
  width: 650px;
  border:1px solid black;
  align-items: center;
}
.basic {
  margin: 4px 8px;
  border: 1px solid black;
}

.primary {
  margin: 4px 8px;
  border: 1px solid black;
  color: white !important;
  background-color: #3f51b5;
}

.label {
  width: 150px;
}

.control-wrapper {
  display: block;
  margin-bottom: 16px;
}

mat-select {
  border:1px solid black;
  width: 100px;
  display: inline-block;
  margin-left: 8px;
}

.form {
  padding:16px;
}

.text-wrapper {
  padding-top: 16px;
}

.verificator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

.verificator-container {
  background-size: cover;
}

.verificator-loading{
  animation: slide .2s;
}

.verificator-translating{
  animation: slide .2s;
}

@keyframes slide {
  from{
    transform: translateX(-100px);
  }

  to{
    transform: translateX(100px);
    opacity: 0;
  }
}

/////CSS for spinner

.verificator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100vw;
  // height: 100vh;
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
}

