/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 26px;};


@mixin pink {
    color: #E91E63
}

@mixin grey {
    color: #9E9E9E
}

@mixin accentIndigo {
    color: #536DFE
}
